body {
  background: url(../images/bee.jpeg) no-repeat;
  background-size: cover;
  font-family: 'Quicksand';
}

.header {
  background-color: #2D434C;
  padding-top: 10px;
  padding-bottom: 20px;
  border-radius: 80%;
}

.header h1 {
  text-align: center;
  color: #B7C6CB;
}

input {
  margin-top: 40px !important;
  width: 100% !important;
}

h3 {
  margin-top: 20px !important;
}

.kegInfo {
  font-size: 20px;
  color: #fff5a0;
  text-shadow: 5px 5px 5px black;
}
